<style>
    .links line {
        stroke: #999;
        stroke-opacity: 0.6;
    }

    .nodes circle {
        stroke: #fff;
        stroke-width: 1.5px;
    }

    text {
      fill: #000;
      font: 10px sans-serif;
      pointer-events: none;
    }
</style>

<section class="section">

    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <aside class="menu">
                        <p class="menu-label">
                            Deployments
                        </p>
                        <ul class="menu-list">
                            <li ng-repeat="(key, deployment) in deployments">
                              <label class="checkbox">
                                  <input ng-model="deploymentFilters[key]" ng-change="filterDeployment(key)" type="checkbox"> {{key}}
                              </label>
                              <ul>
                                <li ng-repeat="vm in deployment.vms">
                                  <label class="checkbox">
                                      <input ng-model="vmsFilters[vm.job_name + '/' + vm.index]" ng-change="filterVMs(vm.job_name + '/' + vm.index)" type="checkbox"> {{vm.job_name}}/{{vm.index}}
                                  </label>
                                </li>
                              </ul>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="column">
                    <div name="force" class="force">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>